<div>
  <link href="./headersubabout.css" rel="stylesheet" />
  <div class="headersubabout-container">
    <header data-thq="thq-navbar" class="headersubabout-navbar-interactive">
      <a href="#about" class="headersubabout-link"><span>About</span></a>
      <div
        data-thq="thq-navbar-nav"
        data-role="Nav"
        class="headersubabout-desktop-menu"
      >
        <nav
          data-thq="thq-navbar-nav-links"
          data-role="Nav"
          class="headersubabout-nav"
        >
          <a href="#mission" class="headersubabout-link01 subheading_menutext">
            Mission
          </a>
          <a href="#products" class="subheading_menutext">Products</a>
          <a href="#team" class="headersubabout-link03 subheading_menutext">
            Team
          </a>
          <a href="#join" class="headersubabout-link04 subheading_menutext">
            <span>Want to join</span>
            <br />
          </a>
        </nav>
      </div>
      <div data-thq="thq-burger-menu" class="headersubabout-burger-menu">
        <img
          alt="image"
          src="public/playground_assets/arrowdown.svg"
          class="headersubabout-image"
        />
      </div>
      <a href="#join" class="headersubabout-login button">Contact</a>
      <div data-thq="thq-mobile-menu" class="headersubabout-mobile-menu">
        <div
          data-thq="thq-mobile-menu-nav"
          data-role="Nav"
          class="headersubabout-nav1"
        >
          <div class="headersubabout-container1">
            <a href="#about" class="headersubabout-link05">
              <span>About</span>
            </a>
            <div data-thq="thq-close-menu" class="headersubabout-menu-close">
              <svg viewBox="0 0 1024 1024" class="headersubabout-icon">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="headersubabout-nav2"
          >
            <a
              href="#mission"
              class="headersubabout-link06 subheading_menutext"
            >
              Mission
            </a>
            <a
              href="#products"
              class="subheading_menutext headersubabout-link07"
            >
              Products
            </a>
            <a href="#team" class="headersubabout-link08 subheading_menutext">
              Team
            </a>
            <a href="#join" class="headersubabout-link09 subheading_menutext">
              <span>Want to join</span>
              <br />
            </a>
            <a href="#join" class="headersubabout-login1 button">Contact</a>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
