.headersubabout-container {
  top: 85px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 99;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #000000;
  background-color: var(--dl-color-gray-darkgrey);
}
.headersubabout-navbar-interactive {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1200px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.headersubabout-link {
  top: 14px;
  left: 20px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 20px;
  font-family: Lexend Deca;
  text-decoration: none;
}
.headersubabout-desktop-menu {
  display: flex;
  position: relative;
}
.headersubabout-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.headersubabout-link01 {
  transition: 0.3s;
}

.headersubabout-link03 {
  color: var(--dl-color-gray-white);
  opacity: 0.5;
  transition: 0.3s;
  font-family: Lexend Deca;
  margin-right: 40px;
  text-decoration: none;
}

.headersubabout-link04 {
  transition: 0.3s;
}

.headersubabout-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.headersubabout-image {
  width: 100px;
  object-fit: cover;
}
.headersubabout-login {
  font-size: 16px;
  padding-top: 7px;
  border-width: 0px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 7px;
  text-decoration: none;
}
.headersubabout-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 100%;
  height: auto;
  display: none;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-darkgrey);
}
.headersubabout-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.headersubabout-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.headersubabout-link05 {
  top: 14px;
  left: 20px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 20px;
  font-family: Lexend Deca;
  text-decoration: none;
}
.headersubabout-menu-close {
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.headersubabout-icon {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.headersubabout-nav2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: flex-end;
}
.headersubabout-link06 {
  transition: 0.3s;
}

.headersubabout-link08 {
  color: var(--dl-color-gray-white);
  opacity: 0.5;
  transition: 0.3s;
  font-family: Lexend Deca;
  text-decoration: none;
}

.headersubabout-link09 {
  transition: 0.3s;
  margin-right: 40px;
}

.headersubabout-login1 {
  font-size: 16px;
  padding-top: 7px;
  border-width: 0px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 7px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .headersubabout-container {
    top: 65px;
  }
  .headersubabout-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .headersubabout-desktop-menu {
    display: none;
  }
  .headersubabout-link03 {
    margin-left: var(--dl-space-space-unit);
  }
  .headersubabout-burger-menu {
    display: flex;
  }
  .headersubabout-image {
    width: 20px;
    height: 20px;
  }
  .headersubabout-login {
    margin-left: 20px;
  }
  .headersubabout-nav2 {
    align-items: flex-end;
    flex-direction: column;
  }
  .headersubabout-link06 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .headersubabout-link07 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .headersubabout-link08 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .headersubabout-link09 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media(max-width: 479px) {
  .headersubabout-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
